[Unit]
Description=Dropbox-target
After=connection-online.target
PartOf=connection-online.target
#Before=local-fs-pre.target
StopWhenUnneeded=yes

[Install]
#WantedBy=network-online.target
#WantedBy=multi-user.target
#WantedBy=timer-online.target
WantedBy=connection-online.target
